.task-list {
    margin: 1rem 0;
    padding: 0;
}
.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background: #ccc;
    align-items: center;
    label {
        input {
            margin-right: 1rem;
        }
    }
    .line-through {
        text-decoration: line-through;
    }
    &:nth-child(odd) {
        background: #eee;
    }
}